{
    "task_send_endpoint"      : "tcp://192.168.143.1:5560",
    "worker_send_endpoint"    : "tcp://192.168.143.1:5561",
    "result_receive_endpoint" : "tcp://127.0.0.4:5678",
    
    "worker_path"             : "./configs/infospb/",
    "worker_filename"         : "worker",
    "worker_priority"         : 1,

    "task_path"               : "./configs/infospb/task/",
    "task_config_list"        : 
    [
        "task.config",
        "redpacket.config"
    ]
}
