{
    "body_file"             : "./configs/infospb/task/libtask.so",
    "args_file"             : "./",
    "from"                  : "tcp://192.168.143.5:8081",
    "to"                    : "tcp://192.168.143.3:8081",
    "task_body_id"          : 1177,
    "priority"              : 1,
    "end_before"            : 999999222222,
    "estimate_running_time" : 8888888,
    "cpu"                   : 100,
    "mem"                   : 500,
    "gpu"                   : 0,
    "estimate_strat_time"   : 0,
    "estimate_result_size"  : 1,
    "estimate_call_time"    : 200
}
